#navbar-items{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 618px;
    height: 29px;
    left: 505px;
    top: 0px;
    flex: none;

    order: 1;
    flex-grow: 0;
    margin: 0px 600px;
}

#navbar-item-0{
    position: static;
    width: 148px;
    height: 29px;
    left: 0px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 45px;
}

#navbar-item-1{
    position: static;
    width: 148px;
    height: 29px;
    left: 0px;
    top: 0px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    
    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 45px;
}

#navbar-item-2{
    position: static;
    width: 97px;
    height: 29px;
    left: 193px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #000000;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 45px;
}

#navbar-item-3{
    position: static;
    width: 97px;
    height: 29px;
    left: 193px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #000000;

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 45px;
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 1123px;
    height: 29px;
    left: 20px;
    top: 64px;
}

#logo{
position: static;
width: 57px;
height: 29px;
left: 0px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #000000;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 50px;
}